.nav-container {
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  background-color: rgb(33, 33, 33);
}
.nav-brand h1 {
  font-size: 30px;
  font-weight: 900;
  justify-self: start;
  margin-left: 18px;
  color: blueviolet;
  opacity: 0.7;
}
.nav-items a {
  margin: 10px;
  font-size: large;
  color: antiquewhite;
  position: relative;
}
.nav-items a:hover {
  color: blueviolet;
  font-weight: bold;
  opacity: 0.7;
}
.nav-menu {
  display: none;
}
@media only screen and (max-width: 768px) {
  .nav-items {
    top: 50px;
    left: 0;
    position: absolute;
    background: blueviolet;
    opacity: 0.7;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: -webkit-fill-available;
    transform: translateX(-100%);
    transition: 0.3s ease all;
  }
  .nav-items a {
    font-size: x-large;
    color: antiquewhite;
  }
  .nav-items a:hover {
    color: black;
    font-weight: bold;
    opacity: unset;
  }
  .nav-items.open {
    transform: translateX(0) !important;
    height: 100%;
  }
  .nav-menu {
    display: flex !important;
    flex-direction: column;
    padding-top: 4px;
    margin: 15px;
    cursor: pointer;
  }
  .nav-menu span {
    width: 30px;
    height: 4px;
    background: blueviolet;
    opacity: 0.7;
    margin-bottom: 5px;
    border-radius: 2px;
    transform-origin: 5px 0px;
    transition: all 0.2s linear;
  }
  .nav-menu.open span:nth-child(1) {
    transform: rotate(45deg) translate(0px, 0px);
  }
  .nav-menu.open span:nth-child(2) {
    display: none;
  }
  .nav-menu.open span:nth-child(3) {
    transform: rotate(-45deg) translate(-5px, 1px);
  }
}
